In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
df.sample(10)

     Age  EstimatedSalary  Purchased
367   46            88000          1
21    47            49000          1
260   35            77000          0
62    23            66000          0
374   37            80000          0
282   37            70000          1
91    30           116000          0
73    33           113000          0
313   49           141000          1
386   49            39000          1

In [4]:
pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting scikit-learn
  Downloading scikit_learn-1.1.2-cp310-cp310-win_amd64.whl (7.4 MB)
     ---------------------------------------- 7.4/7.4 MB 3.5 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\neera\anaconda3\envs\google\lib\site-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\neera\anaconda3\envs\google\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Collecting joblib>=1.0.0
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1304 sha256=c28ac7adcb0c4a136d37664df6453ca570eb5a35c38bc70b0818db564392c51c
  Stored in directory: c:\users\neera\appdata\local\pip\cache\wheels\9b\13\01\6f3a7fd641f90e1f6c8c7cded057f3394f451f340371c68f3d
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.1.2 sklearn-0.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x = df.drop('Purchased', axis=1)
y = df['Purchased']

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state=20, stratify=y)

In [8]:
x_train.shape,x_test.shape

((320, 2), (80, 2))

In [9]:
from sklearn.metrics import accuracy_score

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
lr = LogisticRegression()

In [14]:
lr.fit(x_train, y_train)

LogisticRegression()

In [16]:
y_pred = lr.predict(x_test)

In [17]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [18]:
acc = accuracy_score(y_test,y_pred)
acc

0.6375

In [19]:
pip install pickle

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [20]:
import pickle

In [21]:
file = open('new.pkl','wb')
pickle.dump(lr,file)
file.close()

In [25]:
column_list = x.columns
column_list

Index(['Age', 'EstimatedSalary'], dtype='object')

In [26]:
file = open('column.pkl','wb')
pickle.dump(column_list,file)
file.close()